@model Back.Models.Mensaje

@{
    ViewBag.Title = "VerChat";
}

<h2>@Model.Receptor</h2>
<form method="post">
    <table class="table">
        <tr>
            <th>
                @Model.Emisor
            </th>


            <th>
                @Model.Receptor

            </th>
        </tr>
        @foreach (var item in Model.MensajesOrdenados)
        {
            <tr>
                @if (Model.EmisorMen.ContainsKey(item.Key) == true && item.Value == true)
                {
                    <td width="50%">
                        @Model.EmisorMen[item.Key].Texto
                        <p> @Html.ActionLink("Eliminar","ParaMi", new { Usuario = Model.IDEmisorReceptor , Llave = item.Key, Lado = Model.Emisor });</p>
                    </td>

                    <td width="50%" style=" max-height: 50% ">

                    </td>
                }
                else if (Model.ReceptorMen.ContainsKey(item.Key) == true && item.Value == false)
                {
                    <td width="50%" style=" max-height: 50% ">

                    </td>

                    <td width="50%" style=" max-height: 50% ">

                        @Model.ReceptorMen[item.Key].Texto
                        <p> @Html.ActionLink("Eliminar","ParaMi", new { Usuario = Model.IDEmisorReceptor , Llave = item.Key, Lado = Model.Receptor });</p>

                    </td>


                }
            </tr>
        }








    </table>
    .

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    .
    <br />
    .
    <br />



    <textarea placeholder="Mensaje..." type="text" name="Recibido" id="txtMensaje"></textarea>
    <input placeholder="Mensaje..." type="file" name="RutaArchivo" id="File" />
    <input type="hidden" name="Emisor" value="@Model.Emisor" />
    <input type="hidden" name="recep" value="@Model.Receptor" />
    <button id="Boton" type="submit" style=" background-color:green"> Enviar </button>

</form>

<h3 style=" color: brown">
    @Html.ActionLink("Cerrar Sesion", "LogOut");
    @Html.ActionLink("<---------- Regresar", "ListaDeChats");
</h3>

<style>
    #txtMensaje {
        width: 800px;
        position: fixed;
        left: 15%;
        top: 80%;
    }
    #File {
        width: 800px;
        position: fixed;
        left: 50%;
        top: 80%;
    }
    #Boton {
        position: fixed;
        left: 15%;
        top: 90%;
        height: 40px;
        width: 80px;
        border-radius: 32px 170px 28px 183px;
        -moz-border-radius: 32px 170px 28px 183px;
        -webkit-border-radius: 32px 170px 28px 183px;
        border: 0px solid #000000;
        color: white;
    }
</style>

